openapi: 3.0.3
info:
  title: File Management ANALYTICS REPORT-V2 API
  version: v3
servers:
- description: Production Environment
  url: https://files-integration.inspectorio.com
- description: Pre-Production Environment
  url: https://files-integration.pre.inspectorio.com
tags:
- name: REPORT-V2
paths:
  /api/v2/reports:
    get:
      operationId: listReportsV2
      description: List Reports V2 with additional data about report and CAPA
      parameters:
      - description: Type of the assessment between "Self Assessment" or "Verification Assessment"
        in: query
        name: assessment_type
        required: false
        schema:
          enum:
          - Self Assessment
          - Verification Assessment
          example: Self Assessment
          type: string
      - description: Status of the reports
        in: query
        name: report_status
        required: false
        schema:
          enum:
          - New
          - Verification Requested
          - Declined
          - Case Completed
          - Assessment Canceled
          example: New
          type: string
      - description: Requestee ID
        in: query
        name: requestee_id
        required: false
        schema:
          example: F_123
          type: string
      - description: Status of the CAPA
        in: query
        name: capa_status
        required: false
        schema:
          enum:
          - New
          - In-Progress
          - Assessment Requested
          - Submitted
          - In Review
          - Declined
          - Closed
          - Assessment Canceled
          - Reopened
          - Approved
          example: New
          type: string
      - description: Earliest date of the report date range
        in: query
        name: report_generate_date_from
        required: false
        schema:
          example: '2020-01-01'
          format: date
          type: string
      - description: From the date reports are updated
        in: query
        name: updated_date_from
        required: false
        schema:
          example: '2020-01-01'
          format: date
          type: string
      - description: Limit result of list
        in: query
        name: limit
        required: false
        schema:
          default: 10
          maximum: 100
          minimum: 1
          type: integer
      - description: To the date reports are updated
        in: query
        name: updated_date_to
        required: false
        schema:
          example: '2020-01-02'
          format: date
          type: string
      - description: Latest date of the report date range
        in: query
        name: report_generate_date_to
        required: false
        schema:
          example: '2020-01-02'
          format: date
          type: string
      - description: Order used to sort the reports whether ascending or descending
        in: query
        name: order
        required: false
        schema:
          default: report_generate_date:desc
          example: report_generate_date:desc
          type: string
      - in: query
        name: offset
        required: false
        schema:
          default: 0
          minimum: 0
          type: integer
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V2ReportListResponse'
          description: OK
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestApiError'
          description: Bad request
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthenticatedApiError'
          description: Unauthorized
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidateApiError'
          description: Validation Error
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalApiError'
          description: Internal Error
      summary: List reports
      tags:
      - REPORT-V2
  /api/v2/reports/{report_id}:
    get:
      description: Get Report V2 with additional data about report and CAPA
      operationId: getReportV2
      parameters:
      - in: path
        name: report_id
        required: true
        schema:
          type: string
      - in: query
        name: capa_details
        required: false
        schema:
          type: boolean
        description: Get additional information about CAPA
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V2ReportDetailResponse'
          description: OK
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestApiError'
          description: Bad request
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthenticatedApiError'
          description: Unauthorized
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidateApiError'
          description: Validation Error
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalApiError'
          description: Internal Error
      summary: Get Report
      tags:
      - REPORT-V2
  /api/v1/reports/{report_id}/steps/{step_id}:
    get:
      description: Get Step Execution
      operationId: getStepExecution
      parameters:
      - in: path
        name: step_id
        required: true
        schema:
          type: string
      - in: path
        name: report_id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StepExecutionResponse'
          description: OK
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestApiError'
          description: Bad request
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthenticatedApiError'
          description: Unauthorized
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidateApiError'
          description: Validation Error
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalApiError'
          description: Internal Error
      summary: Get Step Execution
      tags:
      - REPORT-V2
components:
  schemas:
    StepExecutionResult:
      properties:
        numberOfAreaToImproves:
          description: Number of areas to improve
          example: 3
          type: integer
        score:
          description: Step score
          example: 7/10
          nullable: true
          type: string
        rating:
          description: Step rating
          example: Good
          nullable: true
          type: string
        scoreInPercentage:
          description: Score in percentage
          example: 70%
          nullable: true
          type: string
        createdAt:
          description: Creation timestamp
          example: '2024-09-30T10:36:56.057000+00:00'
          format: date-time
          nullable: true
          type: string
        sections:
          description: Sections data
          items:
            type: object
          type: array
      type: object
    BadRequestApiError:
      properties:
        errorCode:
          example: Generic
          type: string
        message:
          example: Bad Request
          type: string
      type: object
    V2ReportLabel:
      properties:
        name:
          description: Type of label assigned in the assignment/report/CAPA
          type: string
        value:
          description: Label assigned in the assignment/report/CAPA
          type: string
      type: object
    CustomLabel:
      properties:
        name:
          description: Name of the label
          type: string
        value:
          description: Value of the label
          type: string
      type: object
    StepExecutionQuestionAnswer:
      properties:
        choices:
          description: List of choices for a question
          items:
            $ref: '#/components/schemas/StepExecutionAnswerChoice'
          nullable: true
          type: array
        comments:
          description: List of comments in the question/answer set
          items:
            $ref: '#/components/schemas/StepExecutionComment'
          nullable: true
          type: array
        files:
          description: Files attached to the question/answer set
          items:
            type: object
          nullable: true
          type: array
        findingsIssues:
          description: List of finding issues
          items:
            $ref: '#/components/schemas/StepExecutionQuestionAnswerFindingsIssues'
          nullable: true
          type: array
        id:
          description: Unique identifier of the question/answer set in a questionnaire
          nullable: true
          type: string
        index:
          description: Indicates the position/order of the question/answer set in a questionnaire
          nullable: true
          type: integer
        isNotApplicable:
          description: Indicates whether the answer was set to 'Not Applicable'
          type: boolean
        locked:
          description: Indicates whether the question/answer set is locked or can be editable
          type: boolean
        mappedIssues:
          description: List of mapped issues
          items:
            $ref: '#/components/schemas/StepExecutionAnswerChoiceSubQuestionAnswerMappedIssue'
          nullable: true
          type: array
        number:
          description: Number of the question/answer set
          nullable: true
          type: integer
        parentId:
          description: Unique identifier of the parent question
          nullable: true
          type: string
        questionId:
          description: Unique identifier of the question
          nullable: true
          type: string
        text:
          description: Text describes the question/answer set
          nullable: true
          type: string
      type: object
    V2ReportListItem:
      properties:
        id:
          description: Unique report ID
          example: 5c40e755-3ab0-4fa9-9a44-f76a95f0e87d
          type: string
        caseId:
          description: Case ID (displays in UI)
          example: 100000
          type: string
        assessmentId:
          description: Assessment ID (displays in UI)
          example: 100000-2
          type: string
        status:
          description: Report Status (New, Assessment Cancelled, ...)
          example: New
          type: string
        reason:
          description: Assessment Reasons (optional - depending on the configuration in each standard)
          example: Annual Audit
          nullable: true
          type: string
        workflowName:
          description: Selected Workflow for the assessment report
          example: Factory Information
          type: string
        executionLocations:
          description: Execution Location (optional - depending on the configuration in each standard)
          example: '[Desktop Review]'
          items:
            type: string
          type: array
        updatedDate:
          description: System updated date. This field will be updated based on the changes in the Report and CAPA.
          example: '2024-09-30T10:36:56.057000+00:00'
          format: date-time
          type: string
        type:
          description: Assessment type
          example: Verification Assessment
          enum:
          - Verification Assessment
          - Self Assessment
          type: string
        announcementType:
          description: Announcement type
          example: Announced
          enum:
          - Announced
          - Semi-Announced
          - Private
          - Unannounced
          type: string
        assessmentStatus:
          description: Assessment Status (New, Aborted, Submitted ...)
          example: Aborted
          type: string
        assessmentWindowStart:
          description: Start date of the Assessment Window
          example: '2024-09-30T10:36:56.057000+00:00'
          format: date-time
          nullable: true
          type: string
        assessmentWindowEnd:
          description: End date of the Assessment Window
          example: '2024-09-30T10:36:56.057000+00:00'
          format: date-time
          nullable: true
          type: string
        assessmentDueDate:
          description: Due date of the assessment
          example: '2024-09-30T10:36:56.057000+00:00'
          format: date-time
          nullable: true
          type: string
        assessmentRequestDate:
          description: Request date of the assessment
          example: '2024-09-30T10:36:56.057000+00:00'
          format: date-time
          type: string
        assessmentSubmitDate:
          description: Assessment Submitted date. This is also Report Generated date.
          example: '2024-09-30T10:36:56.057000+00:00'
          format: date-time
          nullable: true
          type: string
        auditStartDate:
          description: Actual Audit Start date (This field has value only when the configuration is enabled in the standard)
          example: '2024-09-30T10:36:56.057000+00:00'
          format: date-time
          nullable: true
          type: string
        auditEndDate:
          description: Actual Audit End date (This field has value only when the configuration is enabled in the standard)
          example: '2024-09-30T10:36:56.057000+00:00'
          format: date-time
          nullable: true
          type: string
        auditTimeSpent:
          description: The time spent by Auditor (This field has value only when the configuration is enabled in the standard)
          example: 12
          nullable: true
          type: integer
        auditors:
          description: Auditors of the Assessment
          items:
            $ref: '#/components/schemas/V2ReportAuditor'
          type: array
        assignedUsers:
          description: Information of the assigned user
          items:
            $ref: '#/components/schemas/V2ReportDetailUser'
          type: array
        assignedRoles:
          description: Information of the assigned roles
          items:
            $ref: '#/components/schemas/V2ReportAssignedRole'
          type: array
        assessmentStartDate:
          description: The start date of the Assessment
          example: '2024-09-30T10:36:56.057000+00:00'
          format: date-time
          nullable: true
          type: string
        completeCaseDate:
          description: The date the case was completed
          example: '2024-09-30T10:36:56.057000+00:00'
          format: date-time
          nullable: true
          type: string
        reopenCaseDate:
          description: The date the case was reopen
          example: '2024-09-30T10:36:56.057000+00:00'
          format: date-time
          nullable: true
          type: string
        reportGenerateDate:
          description: The date the report was generated
          example: '2024-09-30T10:36:56.057000+00:00'
          format: date-time
          type: string
        caseExpirationDate:
          description: Expiration date of the Case
          example: '2024-09-30T10:36:56.057000+00:00'
          format: date-time
          nullable: true
          type: string
        customFields:
          description: Client's specific attributes
          nullable: true
          type: object
        standard:
          description: The Standard used for the Report
          allOf:
          - $ref: '#/components/schemas/NameVersion'
        stakeholders:
          description: Stakeholders information
          properties:
            requester:
              description: The organization who requested the assessment
              allOf:
              - $ref: '#/components/schemas/IdNameTypeOrgId'
              - properties:
                  contactPersons:
                    description: Requester contact persons
                    items:
                      $ref: '#/components/schemas/ContactPerson'
                    type: array
              type: object
            executors:
              description: The organization who executed the assessment
              items:
                allOf:
                - $ref: '#/components/schemas/Executor'
              type: array
            requestee:
              description: The organization who is the target of the assessment
              allOf:
              - $ref: '#/components/schemas/IdNameTypeOrgId'
              - $ref: '#/components/schemas/OrgLocationAddress'
              - properties:
                  contactPersons:
                    description: Requester contact persons
                    items:
                      $ref: '#/components/schemas/ContactPerson'
                    type: array
              type: object
            selectedPartners:
              description: The supplier who assciated with the requestee (only contains value if the standard setting - Assessment setting select "Requestee and partners")
              items:
                allOf:
                - $ref: '#/components/schemas/IdNameTypeOrgId'
                - properties:
                    contactPersons:
                      description: Partner contact persons
                      items:
                        $ref: '#/components/schemas/ContactPerson'
                      type: array
                    address:
                      description: Address
                      example: 123 Main Street
                      nullable: true
                      type: string
                    country:
                      description: Country
                      example: US
                      nullable: true
                      type: string
              type: array
          type: object
        totalFindings:
          description: List of findings. Only contains value if the report is issue-based.
          items:
            $ref: '#/components/schemas/V2ReportDetailFindings'
          type: array
        rating:
          description: Rating of the report. Calculated based on the rule setting of the standard and the score/issues found in the assessment.
          example: Good
          nullable: true
          type: string
        score:
          description: Score of the Report. Calculated based on the number of issue found or the selected answers in the assessment.
          example: 8/10
          nullable: true
          type: string
        scoreInPercentage:
          description: Score of the Report in percentage. Calculated based on the number of issue found or the selected answers in the assessment compare to the maximum score.
          example: 80%
          nullable: true
          type: string
        numberOfAreaToImproves:
          description: The total count of area to improves after the assessment is completed.
          example: 12
          type: integer
        reportLabels:
          description: Labels of the report
          items:
            $ref: '#/components/schemas/V2ReportLabel'
          type: array
        escalations:
          description: List of escalations of the assessment
          items:
            $ref: '#/components/schemas/V2ReportEscalation'
          type: array
        capa:
          allOf:
          - $ref: '#/components/schemas/V2ReportListCapa'
          description: Information of the CAPA, Corrective Action and Preventive Action
          nullable: true
          type: object
      type: object
    StepExecutionAnswerChoice:
      properties:
        files:
          description: Files attached to the choice/answer for the question
          items:
            type: object
          nullable: true
          type: array
        id:
          description: Unique identifier of the choice/answer for the question
          example: 12308e4f-67b5-4421-a0a4-2ab365e8a39f
          nullable: true
          type: string
        option:
          allOf:
          - $ref: '#/components/schemas/StepExecutionAnswerChoiceSubQuestionAnswerChoiceOption'
          description: Option selected for the question
          example: 12308e4f-67b5-4421-a0a4-2ab365e8a39f
        optionId:
          description: Unique identifier of the option selected as the answer for the question
          nullable: true
          type: string
        subQuestionAnswers:
          description: List of sub-questions and answers
          items:
            $ref: '#/components/schemas/StepExecutionAnswerChoiceSubQuestionAnswer'
          nullable: true
          type: array
        text:
          description: Text describing the choice/answer for the question
          nullable: true
          type: string
      type: object
    StepExecutionAnswerChoiceSubQuestionAnswer:
      properties:
        choices:
          description: List of choices for the question
          items:
            $ref: '#/components/schemas/StepExecutionAnswerChoiceSubQuestionAnswerChoice'
          nullable: true
          type: array
        files:
          description: Files attached to the question
          items:
            type: object
          nullable: true
          type: array
        id:
          description: Unique identifier of the question in the question/answer set
          nullable: true
          type: string
        isNotApplicable:
          description: Indicates whether the answer was set to 'Not Applicable'
          type: boolean
        mappedIssues:
          description: List of mapped issues of the question
          items:
            $ref: '#/components/schemas/StepExecutionAnswerChoiceSubQuestionAnswerMappedIssue'
          nullable: true
          type: array
        number:
          description: Number of the question
          nullable: true
          type: integer
        parentId:
          description: Unique identifier of the parent question
          nullable: true
          type: string
        questionId:
          description: Unique identifier of the question
          nullable: true
          type: string
        text:
          description: Text describes the question
          nullable: true
          type: string
      type: object
    StepExecutionAppTestResult:
      properties:
        factoryType:
          allOf:
          - $ref: '#/components/schemas/IdName'
          description: Type of factory in the app test result
        sectionId:
          description: Unique identifier of the section of the app test result
          nullable: true
          type: string
      type: object
    StepExecutionForm:
      properties:
        description:
          description: Description of the form in the step execution
          nullable: true
          type: string
        schema:
          type: object
        version:
          description: Version of the form in the step execution
          example: '1.0'
          nullable: true
          type: string
      type: object
    StepExecutionOptionAction:
      properties:
        description:
          description: Description of the question/answer
          nullable: true
          type: string
        factoryType:
          allOf:
          - $ref: '#/components/schemas/IdName'
          description: Type of factory
        id:
          description: Unique identifier of the question/answer
          example: 1231cddf-1829-49dc-aff4-2d7043d8c1db
          nullable: true
          type: string
        optionId:
          description: Unique identifier of the option of the question/answer
          example: 123f5fed-29ef-42a1-8f0b-eb58dc87b84d
          nullable: true
          type: string
        questionIds:
          description: List of unique identifiers of the questions
          example: 123df8c5-6b69-4ae2-9cb8-f94fff3ce1f2
          items:
            type: string
          nullable: true
          type: array
        questions:
          description: Recursive list of questions in the assessment
          items:
            type: object
          nullable: true
          type: array
        type:
          description: Type of question/answer
          nullable: true
          type: string
      type: object
    IdName:
      properties:
        id:
          description: Unique identifier
          nullable: true
          type: string
        name:
          description: Name
          nullable: true
          type: string
      type: object
    StepExecutionOption:
      properties:
        actions:
          description: List of actions
          items:
            $ref: '#/components/schemas/StepExecutionOptionAction'
          nullable: true
          type: array
        content:
          description: Content of the option
          nullable: true
          type: string
        id:
          description: Unique identifier of the option
          nullable: true
          type: string
        isNoneOfTheAbove:
          description: Is 'true' if 'None of the above' has been selected, 'false' otherwise
          type: boolean
      type: object
    StepExecutionQuestionAnswerFindingsAttachment:
      properties:
        id:
          description: Unique identifier of the attachment in the step execution
          nullable: true
          type: string
        name:
          description: Name of the attachment in the step execution
          nullable: true
          type: string
        url:
          description: URL of the attachment in the step execution
          nullable: true
          type: string
      type: object
    V2ReportListCapa:
      properties:
        id:
          description: Unique identifier of the CAPA
          example: 1235330e-b74b-4be6-8d8a-cb0560effc11
          type: string
        status:
          description: Status of the CAPA
          example: NEW
          type: string
        capaLabels:
          description: List of CAPA labels
          items:
            $ref: '#/components/schemas/NameValue'
          type: array
      type: object
    Capa:
      properties:
        id:
          description: Unique identifier of the CAPA
          example: 1235330e-b74b-4be6-8d8a-cb0560effc11
          type: string
        status:
          description: Status of the CAPA
          example: New
          type: string
        capaLabels:
          description: List of CAPA labels
          items:
            properties:
              name:
                description: Label field name
                example: Priority
                type: string
              value:
                description: Label value
                example: High
                type: string
          type: array
        updatedDate:
          description: Last update date of the CAPA (available when capa_details=true)
          example: '2025-12-12T10:48:07.191000+00:00'
          format: date-time
          type: string
        updatedByUser:
          description: User who last updated the CAPA (available when capa_details=true)
          example: john_doe@example.com
          nullable: true
          type: string
        approvedDate:
          description: Date when CAPA was approved (available when capa_details=true)
          example: '2025-12-12T10:48:07.191000+00:00'
          format: date-time
          nullable: true
          type: string
        createdDate:
          description: Creation date of the CAPA (available when capa_details=true)
          example: '2025-12-12T10:48:07.191000+00:00'
          format: date-time
          type: string
        dueDate:
          description: Due date for CAPA completion (available when capa_details=true)
          example: '2025-12-31T00:00:00.000000+00:00'
          format: date-time
          nullable: true
          type: string
        areaToImproves:
          description: List of area to improves in this CAPA (available when capa_details=true)
          items:
            $ref: '#/components/schemas/DetailedAreaToImprove'
          type: array
      type: object
    V2ReportEscalation:
      properties:
        createdDate:
          description: Date when the Escalation was created
          format: date-time
          example: '2024-09-30T10:36:56.057000+00:00'
          type: string
        status:
          description: Status of the escalation
          type: string
        resolvedDate:
          description: Resolution date of the escalation
          format: date-time
          example: '2024-09-30T10:36:56.057000+00:00'
          nullable: true
          type: string
        escalatedTo:
          description: The user who received the escalation
          items:
            $ref: '#/components/schemas/V2ReportDetailUser'
          type: array
        escalatedBy:
          $ref: '#/components/schemas/V2ReportDetailUser'
        resolvedByUser:
          $ref: '#/components/schemas/V2ReportDetailUser'
        note:
          description: Escalation note
          type: string
        reasons:
          description: Escalation reason
          items:
            type: string
          type: array
        exceptionReasons:
          description: Escalation exception reason
          items:
            type: string
          type: array
        reviewerComment:
          description: Reviewer comment
          nullable: true
          type: string
      type: object
    AtiLinkedFinding:
      properties:
        scheme:
          description: Scheme
          type: string
          nullable: true
        severity:
          description: Severity value
          example: Informational
          type: string
          nullable: true
        title:
          description: Title
          example: Testing finding description
          type: string
          nullable: true
        category:
          description: Category
          example: Section 1
          type: string
          nullable: true
        subCategory:
          description: Sub-category
          example: Section 1.1
          type: string
          nullable: true
        issueNumber:
          description: Issue number
          example: 376882
          type: string
          nullable: true
        description:
          description: Issue description
          example: This is a detailed description of the issue.
          type: string
          nullable: true
        schemeData:
          description: Scheme data
          type: object
          nullable: true
      type: object
    StepExecutionAnswerChoiceSubQuestionAnswerChoiceOption:
      properties:
        content:
          description: Content of the option available for the question
          nullable: true
          type: string
        id:
          description: Unique identifier of the option available for the question
          nullable: true
          type: string
      type: object
    V2ReportAssignedRole:
      properties:
        name:
          description: Name of the role
          example: UL China
          type: string
      type: object
    StepExecutionQuestionAnswerFindingsUser:
      properties:
        email:
          description: Email address of the user
          example: john@acme.com
          nullable: true
          type: string
        id:
          description: Unique identifier of the user
          example: cc94fc4e-dcbe-44a5-863e-3255281e02ca
          nullable: true
          type: string
        name:
          description: Name of the auditor
          example: John Doe
          nullable: true
          type: string
      type: object
    AreaToImproveField:
      properties:
        improvementAreaId:
          description: ID of the improvement area
          example: 07e1d9ef-aebe-4901-b26c-941cb5983832
          type: string
        fieldId:
          description: ID of the field
          example: b62ca36f-fa86-4ee0-ae96-bad52c2c46b2
          type: string
        field:
          description: Field definition
          properties:
            id:
              description: Field ID
              example: b62ca36f-fa86-4ee0-ae96-bad52c2c46b2
              type: string
            fieldName:
              description: Name of the field
              example: Root Causes
              type: string
            description:
              description: Field description
              example: Describe the root causes
              type: string
            enabled:
              description: Whether the field is enabled
              example: true
              type: boolean
            responseType:
              description: Type of response expected
              example: MULTIPLE_TEXT_ENTRIES
              type: string
            requirement:
              description: Field requirement level
              example: REQUIRED_WHEN_ATI_MANDATORY
              type: string
            systemKey:
              description: System key for the field
              example: ROOT_CAUSES
              nullable: true
              type: string
            settings:
              description: Additional settings
              nullable: true
              type: object
            order:
              description: Display order
              example: 0
              type: integer
            choices:
              description: Available choices for the field
              items:
                type: object
              type: array
            createdAt:
              description: Creation timestamp
              example: '2025-11-03T14:40:34.815Z'
              format: date-time
              type: string
            updatedAt:
              description: Last update timestamp
              example: '2025-11-03T14:40:34.815Z'
              format: date-time
              type: string
          type: object
        answer:
          description: Answer to the field
          properties:
            value:
              description: Answer value
              example: Some text answer
              nullable: true
              type: string
            choices:
              description: Selected choices
              items:
                type: string
              type: array
            textAreas:
              description: Text area responses
              items:
                type: object
              type: array
            attachments:
              description: Attached files
              items:
                type: object
              type: array
          type: object
      type: object
    StepExecutionQuestionAnswerFindingsIssuesSeverity:
      properties:
        color:
          description: Color of the severity
          nullable: true
          type: string
        id:
          description: Unique identifier of the severity
          nullable: true
          type: string
        name:
          description: Name of the severity
          nullable: true
          type: string
      type: object
    BasicStepExecutionInfo:
      properties:
        id:
          description: Step execution ID
          example: 4ea094ac-84de-4d50-80c3-fef2ef569f3c
          type: string
        name:
          description: Step name
          example: Questionnaire 1 - Mapping Issue List
          type: string
        order:
          description: Step order
          example: 0
          type: integer
        result:
          description: Step execution result
          allOf:
          - $ref: '#/components/schemas/StepExecutionResult'
          nullable: true
          type: object
        questionnaire:
          description: Questionnaire information
          allOf:
          - $ref: '#/components/schemas/Questionnaire'
          nullable: true
          type: object
        appTestResults:
          description: Application test results
          items:
            type: object
          type: array
      type: object
    StepExecutionComment:
      properties:
        attachments:
          description: Attachments inserted in the comment of the step execution
          items:
            $ref: '#/components/schemas/StepExecutionAttachment'
          nullable: true
          type: array
        canEdit:
          description: Indicates whether or not the comment can be edited
          type: boolean
        content:
          description: Content of the comment of the step execution
          nullable: true
          type: string
        createdDate:
          description: Creation date of the comment of the step execution
          example: '2022-03-02T06:41:19.633000+00:00'
          format: date-time
          nullable: true
          type: string
        id:
          description: Unique identifier of the comment of the step execution
          nullable: true
          type: string
        isEdited:
          description: Indicates whether or not the comment had been edited
          type: boolean
        organization:
          allOf:
          - $ref: '#/components/schemas/ReportDetailOrg'
          description: Organization of the comment
        user:
          allOf:
          - $ref: '#/components/schemas/ReportDetailUser'
          description: User of the comment of the step execution
      type: object
    StepExecutionQuestionnaire:
      properties:
        description:
          description: Description of the questionnaire
          nullable: true
          type: string
        flattenSections:
          description: Sections of the questionnaire
          items:
            $ref: '#/components/schemas/StepExecutionFlattenSection'
          nullable: true
          type: array
        id:
          description: Unique identifier of the questionnaire
          nullable: true
          type: string
        name:
          description: Name of the questionnaire
          nullable: true
          type: string
      type: object
    InternalApiError:
      properties:
        errorCode:
          example: Generic
          type: string
        errors:
          example:
            system:
            - Internal error detail message
          type: object
        message:
          example: Internal server error
          type: string
      type: object
    ReportDetailImprovement:
      properties:
        answerId:
          description: Unique identifier of the answer of the improvement
          example: 12372c66-f8ec-40c8-a0c7-355f6205c81e
          nullable: true
          type: string
        content:
          description: Content of the improvement
          example: Is the facility clean and organized?
          nullable: true
          type: string
        customTags:
          description: List of custom tags of the improvement
          items:
            $ref: '#/components/schemas/IdName'
          nullable: true
          type: array
        id:
          description: Unique identifier of the improvement
          example: 123df8c5-6b69-4ae2-9cb8-f94fff3ce1f2
          nullable: true
          type: string
      type: object
    StepExecutionWorkflow:
      properties:
        id:
          description: Unique identifier of the workflow used in the assessment
          nullable: true
          type: string
        standard:
          allOf:
          - $ref: '#/components/schemas/IdName'
          description: Standard of the workflow used in the assessment
      type: object
    V2ReportListResponse:
      properties:
        data:
          description: Report data
          items:
            $ref: '#/components/schemas/V2ReportListItem'
          type: array
        limit:
          default: 10
          description: Limit result of list
          maximum: 100
          minimum: 1
          type: integer
        offset:
          default: 0
          description: Number of items are skipped
          minimum: 0
          type: integer
        total:
          type: integer
      required:
      - total
      type: object
    NameValue:
      properties:
        name:
          description: Name
          type: string
        value:
          description: Value
          type: string
      type: object
    V2ReportDetailSubmitEvent:
      description: Information on the event submission
      properties:
        submittedByUser:
          allOf:
          - $ref: '#/components/schemas/V2ReportDetailUser'
          nullable: true
          type: object
          description: Information of the user who submitted the assessment
        submitDate:
          description: Submit date
          example: '2024-09-30T10:36:56.057000+00:00'
          format: date-time
          type: string
        submittedByOrg:
          allOf:
          - $ref: '#/components/schemas/IdNameTypeOrgId'
          description: Information of the organization who submitted the assessment
          nullable: true
          type: object
      type: object
    StepExecutionAnswerChoiceSubQuestionAnswerMappedIssueIssue:
      properties:
        category:
          description: Category of the mapped issue
          example: Emergency Exit
          nullable: true
          type: string
        code:
          description: Code of the mapped issue
          nullable: true
          type: string
        id:
          description: Unique identifier of the mapped issue in the question
          example: 1a
          nullable: true
          type: string
        section:
          description: Section of the mapped issue
          nullable: true
          type: string
        severity:
          description: Severity of the mapped issue
          example: Major
          nullable: true
          type: string
        text:
          description: Text describing the mapped issue in the question
          example: Emergency exits are blocked
          nullable: true
          type: string
      type: object
    StepExecutionAnswerChoiceSubQuestionAnswerChoice:
      properties:
        files:
          description: Files attached to the choice/answer for the question
          items:
            type: object
          nullable: true
          type: array
        id:
          description: Unique identifier of the choice/answer for the question
          example: 12308e4f-67b5-4421-a0a4-2ab365e8a39f
          nullable: true
          type: string
        option:
          allOf:
          - $ref: '#/components/schemas/StepExecutionAnswerChoiceSubQuestionAnswerChoiceOption'
          description: Option selected for the question
          example: 12308e4f-67b5-4421-a0a4-2ab365e8a39f
        optionId:
          description: Unique identifier of the option selected as the answer for the question
          nullable: true
          type: string
        text:
          description: Text describing the choice/answer for the question
          nullable: true
          type: string
      type: object
    StepExecutionFormData:
      properties:
        data:
          description: Detailed data of the form
          type: object
        id:
          description: Unique identifier of the form data included in the step execution
          nullable: true
          type: string
      type: object
    NameVersion:
      properties:
        name:
          description: Name
          type: string
        version:
          description: Version
          type: string
      type: object
    V2ReportDetail:
      allOf:
      - $ref: '#/components/schemas/V2ReportBasicDetail'
      - properties:
          checkin:
            description: On-site check-in information
            allOf:
            - $ref: '#/components/schemas/CheckIn'
            nullable: true
            type: object
          overallComment:
            description: Overall comment input by the assignee
            example: Please submit the capa by due date.
            nullable: true
            type: string
          assignedUsers:
            description: Information of the assigned user
            items:
              $ref: '#/components/schemas/V2ReportDetailUser'
            type: array
          assignedRoles:
            description: Information of the assigned roles
            items:
              $ref: '#/components/schemas/V2ReportAssignedRole'
            type: array
          stepExecutions:
            description: Information of the execution steps
            items:
              $ref: '#/components/schemas/BasicStepExecutionInfo'
            type: array
          submitEvent:
            $ref: '#/components/schemas/V2ReportDetailSubmitEvent'
          declineReasons:
            description: Reasons input by the retailer when declining the report
            items:
              type: string
            type: array
          capa:
            allOf:
            - $ref: '#/components/schemas/Capa'
            description: Information of the CAPA, Corrective Action and Preventive Action
            nullable: true
            type: object
      type: object
    IdNameTypeOrgId:
      properties:
        id:
          description: Unique identifier
          type: string
        name:
          description: Name
          nullable: true
          type: string
        orgId:
          description: Organization external ID
          nullable: true
          type: string
        type:
          description: Type
          type: string
      type: object
    Executor:
      allOf:
      - $ref: '#/components/schemas/IdNameTypeOrgId'
      - properties:
          contactPersons:
            description: Executor contact persons
            items:
              $ref: '#/components/schemas/ContactPerson'
            type: array
          isPlaceholder:
            description: Whether this is a placeholder executor
            example: false
            type: boolean
          ableToSubmitAssessment:
            description: Whether this executor can submit the assessment
            example: true
            type: boolean
          isLead:
            description: Whether this executor is the lead
            example: true
            type: boolean
          assignedRoles:
            description: Roles assigned to this executor
            items:
              $ref: '#/components/schemas/ExecutorAssignedRole'
            type: array
      type: object
    ContactPerson:
      properties:
        name:
          description: Contact person name
          example: John Doe
          type: string
        title:
          description: Contact person title
          example: Factory Manager
          nullable: true
          type: string
        email:
          description: Contact person email
          example: john.doe@example.com
          type: string
        phoneNumber:
          description: Contact person phone number
          example: 1234567890
          type: string
      type: object
    StepExecutionStep:
      properties:
        formSchema:
          allOf:
          - $ref: '#/components/schemas/StepExecutionForm'
          description: Form Schema that describes the schema of forms included in the report step
        id:
          description: Unique identifier of the report step
          example: 123ce62d-892c-4e54-a8c3-3b6f52f0d915
          nullable: true
          type: string
        name:
          description: Name of the report step
          example: Factory Information
          nullable: true
          type: string
      type: object
    StepExecutionResponse:
      properties:
        data:
          allOf:
          - $ref: '#/components/schemas/StepExecution'
          description: Step Execution Data
      type: object
    V2ReportDetailResponse:
      properties:
        data:
          allOf:
          - $ref: '#/components/schemas/V2ReportDetail'
          description: Report data
      type: object
    ReportDetailSection:
      properties:
        id:
          description: Unique identifier of the section
          example: 123b8df5-6174-4b88-abb7-74b183ec1e70
          nullable: true
          type: string
        improvements:
          description: List of improvements of the section
          items:
            $ref: '#/components/schemas/ReportDetailImprovement'
          nullable: true
          type: array
        level:
          description: Level of the section
          example: 0
          nullable: true
          type: integer
        maxScore:
          description: Maximum score as an float
          example: 7.5
          nullable: true
          type: number
        name:
          description: Name of the section
          example: Manufacturing Control Plan
          nullable: true
          type: string
        parentId:
          description: Unique identifier of the parent of the section
          example: 123f99a2-b857-4b9c-986d-54a224cad9ec
          nullable: true
          type: string
        path:
          description: Path of the section
          example: 123f99a2-b857-4b9c-986d-54a224cad9ec
          items:
            type: string
          nullable: true
          type: array
        score:
          description: Score of the section as an float
          example: 6
          nullable: true
          type: number
      type: object
    StepExecutionSchemaAssessmentExecution:
      properties:
        ableToExecute:
          description: Indicates whether the assessment of the report had been able to be executed
          type: boolean
        id:
          description: Unique identifier of the assessment of the report
          nullable: true
          type: string
        name:
          description: Name of the assessment of the report
          nullable: true
          type: string
        status:
          description: Status of the assessment of the report
          nullable: true
          type: string
        updatedDate:
          description: The updated date of the assessment of the report
          format: date-time
          nullable: true
          type: string
        workflow:
          allOf:
          - $ref: '#/components/schemas/StepExecutionWorkflow'
          description: Information on the workflow used in the assessment
      type: object
    ReportDetailOrg:
      description: Information of the organization
      properties:
        id:
          description: Unique identifier of the organization
          example: abc67433-c8d8-4779-a0f1-3f1490e2dde9
          nullable: true
          type: string
        name:
          description: Name of the organization
          example: Acme Corp
          nullable: true
          type: string
        type:
          description: Type of the organization, e.g. RETAILER, FACTORY, PARTNER, etc.
          example: RETAILER
          nullable: true
          type: string
        uid:
          description: Unique technical identifier of the organization
          example: V123
          nullable: true
          type: string
      type: object
    ReportDetailAssessmentExecutionConfidentialNote:
      properties:
        content:
          description: Note content
          example: Confidential information about assessment
          type: string
        createdBy:
          description: User who created the note
          example: Jane Auditor
          nullable: true
          type: string
        createdDate:
          description: Creation date
          example: '2024-09-30T10:36:56.057000+00:00'
          format: date-time
          type: string
      type: object
    V2ReportAuditor:
      properties:
        email:
          description: Actual auditor's email (This field has value only when the configuration is enabled in the standard)
          example: john.doe@abc.com
          nullable: true
          type: string
        firstName:
          description: Actual Auditor's First Name (This field has value only when the configuration is enabled in the standard)
          example: John
          nullable: true
          type: string
        lastName:
          description: Actual Auditor's Last Name (This field has value only when the configuration is enabled in the standard)
          example: Doe
          nullable: true
          type: string
      type: object
    StepExecutionAnswerChoiceSubQuestionAnswerMappedIssue:
      properties:
        answerId:
          description: Unique identifier of the answer in the mapped issue
          nullable: true
          type: string
        comments:
          description: List of comments for mapped issues in the question
          items:
            $ref: '#/components/schemas/StepExecutionComment'
          nullable: true
          type: array
        id:
          description: Unique identifier of the mapped issue of the question
          nullable: true
          type: string
        issue:
          allOf:
          - $ref: '#/components/schemas/StepExecutionAnswerChoiceSubQuestionAnswerMappedIssueIssue'
          description: List of mapped issues in the question
        issueId:
          description: Unique identifier of the issue in the question
          nullable: true
          type: string
        options:
          description: List of options available for the question
          items:
            $ref: '#/components/schemas/StepExecutionAnswerChoiceSubQuestionAnswerChoiceOption'
          nullable: true
          type: array
      type: object
    DetailedAreaToImprove:
      properties:
        id:
          description: Unique identifier of the area to improve
          example: RI0DCKDYR0
          type: string
        updatedDate:
          description: Last update date
          example: '2025-10-21T15:30:56.214000+00:00'
          format: date-time
          type: string
        title:
          description: Title of the area to improve
          example: The general condition of the dormitories need improvement.
          type: string
        category:
          description: Category of the area to improve
          example: Drinking Water
          nullable: true
          type: string
        subCategory:
          description: Sub-category of the area to improve
          example: Social
          nullable: true
          type: string
        description:
          description: Detailed description
          example: The facility needs better ventilation
          nullable: true
          type: string
        requiredCorrection:
          description: Whether correction is required
          example: false
          type: boolean
        recommendation:
          description: Recommendation for improvement
          example: Install new equipment
          nullable: true
          type: string
        status:
          description: Status of the area to improve
          example: new
          type: string
        rootCauses:
          description: List of root causes
          items:
            type: string
          type: array
        resolutions:
          description: List of resolutions
          items:
            type: string
          type: array
        personInCharge:
          description: Person responsible for the improvement
          example: John Doe
          nullable: true
          type: string
        completionDate:
          description: Target completion date
          example: '2025-12-15T10:36:56.057000+00:00'
          format: date-time
          nullable: true
          type: string
        resolvedDate:
          description: Date when the issue was resolved
          example: '2025-12-15T10:36:56.057000+00:00'
          format: date-time
          nullable: true
          type: string
        referenceId:
          description: Reference identifier
          example: tutest-issue-4-2
          nullable: true
          type: string
        linkedFindings:
          description: List of linked findings
          items:
            $ref: '#/components/schemas/AtiLinkedFinding'
          type: array
        customFields:
          description: Custom fields data
          nullable: true
          type: object
        comments:
          description: List of comments
          items:
            $ref: '#/components/schemas/AtiComment'
          type: array
        uploadedFiles:
          description: List of uploaded files
          items:
            type: object
          type: array
        areaToImproveLabels:
          description: Labels associated with this area to improve
          items:
            $ref: '#/components/schemas/CustomLabel'
          type: array
        fields:
          description: Custom fields with questions and answers
          items:
            $ref: '#/components/schemas/AreaToImproveField'
          type: array
      type: object
    AtiComment:
      properties:
        text:
          description: Comment text
          example: This is a comment.
          type: string
        createdByUser:
          description: User who created the comment
          example: jane.smith@auditor.com
          nullable: true
          type: string
      type: object
    CheckIn:
      properties:
        checkinLocation:
          description: Check-in location coordinates
          properties:
            latitude:
              description: Latitude coordinate
              example: 10.762622
              nullable: true
              type: number
            longitude:
              description: Longitude coordinate
              example: 106.660172
              nullable: true
              type: number
            address:
              description: Address of the check-in location
              type: string
            country:
              description: Country of the check-in location
              example: US
              type: string
            postal:
              description: Postal code of the check-in location
              example: 12345
              nullable: true
              type: string
            state:
              description: State of the check-in location
              nullable: true
              type: string
            city:
              description: City of the check-in location
              nullable: true
              type: string
          nullable: true
          type: object
        checkinUser:
          description: User email who performed the check-in
          example: john.doe@example.com
          nullable: true
          type: string
        checkinDate:
          description: Check-in date and time
          example: '2025-12-12T10:47:57.465000+00:00'
          format: date-time
          type: string
        isManual:
          description: Whether check-in was manual or automatic
          example: true
          type: boolean
        reason:
          description: Reason for check-in (if manual)
          example: GPS not available
          nullable: true
          type: string
      type: object
    OrgLocationAddress:
      properties:
        address:
          description: Address
          example: 123 Main Street
          nullable: true
          type: string
        city:
          description: City
          example: Abbeville
          nullable: true
          type: string
        province:
          description: Province
          example: Alabama
          nullable: true
          type: string
        country:
          description: Country
          example: US
          nullable: true
          type: string
      type: object
    StepExecutionAttachment:
      properties:
        id:
          description: Unique identifier of the attachment in the step execution
          nullable: true
          type: string
        key:
          description: Key of the attachment in the step execution
          nullable: true
          type: string
        name:
          description: Name of the attachment in the step execution
          nullable: true
          type: string
        url:
          description: URL of the attachment in the step execution
          nullable: true
          type: string
      type: object
    Questionnaire:
      properties:
        id:
          description: Questionnaire ID
          example: cb66f153-712f-4582-848d-1811901ef37d
          type: string
        name:
          description: Questionnaire name
          example: '[tutest] Mapping Issue List - Schemes'
          type: string
      type: object
    ReportDetailUser:
      description: Information of the user
      properties:
        email:
          description: Email address of the user
          example: john@acme.com
          nullable: true
          type: string
        firstName:
          description: First name of the user
          example: John
          nullable: true
          type: string
        id:
          description: Unique identifier of the user
          example: cc94fc4e-dcbe-44a5-863e-3255281e02ca
          nullable: true
          type: string
        lastName:
          description: Last name of the user
          example: Doe
          nullable: true
          type: string
      type: object
    ValidateApiError:
      properties:
        errorCode:
          example: Generic
          type: string
        errors:
          example:
            type:
            - Input type is not valid
          type: object
        message:
          example: Validation error
          type: string
      type: object
    V2ReportDetailUser:
      properties:
        email:
          description: Email of the user
          example: john.doe@abc.com
          type: string
        firstName:
          description: First name of the user
          example: John
          nullable: true
          type: string
        lastName:
          description: Last name of the user
          example: Doe
          nullable: true
          type: string
      type: object
    ExecutorAssignedRole:
      properties:
        name:
          description: Assigned role name
          example: Lead Auditor
          type: string
      type: object
    StepExecutionQuestionAnswerFindingsIssues:
      properties:
        attachments:
          description: Attachments inserted in the findings issue
          items:
            $ref: '#/components/schemas/StepExecutionQuestionAnswerFindingsAttachment'
          nullable: true
          type: array
        content:
          description: Content of the findings issue
          nullable: true
          type: string
        createdDate:
          description: Creation date of the findings issue
          example: '2022-03-02T06:41:19.633000+00:00'
          format: date-time
          nullable: true
          type: string
        findingsIssuesId:
          description: Unique identifier of the findings issue
          nullable: true
          type: string
        organization:
          allOf:
          - $ref: '#/components/schemas/ReportDetailOrg'
          description: Organization of the findings issue
        severity:
          allOf:
          - $ref: '#/components/schemas/StepExecutionQuestionAnswerFindingsIssuesSeverity'
          description: Severity information
        summary:
          description: Summary of the findings issue
          nullable: true
          type: string
        user:
          allOf:
          - $ref: '#/components/schemas/StepExecutionQuestionAnswerFindingsUser'
          description: User of the findings issue
      type: object
    StepExecutionIssue:
      properties:
        category:
          description: Category of the issue in the step execution
          example: Electrical Safety
          nullable: true
          type: string
        id:
          description: Unique identifier of the issue in the step execution
          example: 123abc
          nullable: true
          type: string
        severity:
          description: Severity of the issue in the step execution
          example: Major
          nullable: true
          type: string
        sovePrinciple:
          description: SOVE Principle
          example: Safety
          nullable: true
          type: string
        text:
          description: Text describing the issue in the step execution
          example: Safety measures of electrical panels are not in place
          nullable: true
          type: string
      type: object
    StepExecutionQuestion:
      properties:
        content:
          description: Content of the question
          nullable: true
          type: string
        externalId:
          description: External unique identifier of the question
          nullable: true
          type: string
        extraInformation:
          description: Extra information of the question
          type: object
        id:
          description: Unique identifier of the question
          nullable: true
          type: string
        options:
          description: List of options available for the question
          items:
            $ref: '#/components/schemas/StepExecutionOption'
          nullable: true
          type: array
        parentId:
          description: Unique identifier of the parent of the question
          nullable: true
          type: string
        responseType:
          description: Type of response
          nullable: true
          type: string
        responseTypeConfig:
          description: Configuration of the type of response
          type: object
        type:
          description: Type of question
          nullable: true
          type: string
        order:
          description: Order of the question
          example: 0
          nullable: true
          type: integer
      type: object
    ReportDetailStepExecutionReport:
      properties:
        createdDate:
          description: Creation date of the step
          example: '2021-06-27T09:35:21.380000+00:00'
          format: date-time
          nullable: true
          type: string
        id:
          description: Unique identifier of the step
          example: 1239c6ab-55ad-47a2-847d-2973ed4b00aa
          nullable: true
          type: string
        isHideScore:
          description: Indicates whether the score is hidden
          example: 'false'
          type: boolean
        maxScore:
          description: Maximum score of the step
          example: 135
          nullable: true
          type: number
        ratingLabel:
          allOf:
          - $ref: '#/components/schemas/IdName'
          description: Rating label
        score:
          description: Score of the step
          example: 72
          nullable: true
          type: number
        sections:
          description: List of sections
          items:
            $ref: '#/components/schemas/ReportDetailSection'
          nullable: true
          type: array
        stepExeId:
          description: Unique technical identifier of the step
          example: 13ccab58-b11f-486b-9dc9-05ced81729d8
          nullable: true
          type: string
      type: object
    StepExecutionFlattenSection:
      properties:
        id:
          description: Unique identifier of the section
          nullable: true
          type: string
        level:
          description: Level of the section
          nullable: true
          type: integer
        name:
          description: Name of the section
          nullable: true
          type: string
        parentId:
          description: Unique identifier of the parent of the section
          nullable: true
          type: string
        questions:
          description: List of questions within the section
          items:
            $ref: '#/components/schemas/StepExecutionQuestion'
          nullable: true
          type: array
        type:
          description: Type of section
          nullable: true
          type: string
      type: object
    UnauthenticatedApiError:
      properties:
        errorCode:
          example: Generic
          type: string
        message:
          example: Cannot retrieve session data because of expired token
          type: string
      type: object
    V2ReportDetailFindings:
      properties:
        severity:
          description: Severity of the issue founded in the report
          example: Major
          enum:
          - Critical
          - Major
          - Minor
          type: string
        findings:
          description: Number of findings of the same severity in the report
          example: 2
          type: integer
      type: object
    StepExecution:
      properties:
        appTestResults:
          description: App test results in the step execution
          items:
            $ref: '#/components/schemas/StepExecutionAppTestResult'
          nullable: true
          type: array
        assessmentExecution:
          allOf:
          - $ref: '#/components/schemas/StepExecutionSchemaAssessmentExecution'
          description: Information on the execution of the assessment
        formData:
          allOf:
          - $ref: '#/components/schemas/StepExecutionFormData'
          description: Detailed data of the form in the step execution
        id:
          description: Unique identifier of the step execution
          example: 123d1b06-c172-4cc3-a905-64840ec0a020
          nullable: true
          type: string
        issues:
          description: List of Issues in the step execution
          items:
            $ref: '#/components/schemas/StepExecutionIssue'
          nullable: true
          type: array
        questionAnswers:
          description: List of Questions/Answers in the step execution
          items:
            $ref: '#/components/schemas/StepExecutionQuestionAnswer'
          nullable: true
          type: array
        questionnaire:
          allOf:
          - $ref: '#/components/schemas/StepExecutionQuestionnaire'
          description: Questionnaire information
        report:
          allOf:
          - $ref: '#/components/schemas/ReportDetailStepExecutionReport'
          description: Information of the report
        status:
          description: Status of the step execution
          example: COMPLETED
          nullable: true
          type: string
        step:
          allOf:
          - $ref: '#/components/schemas/StepExecutionStep'
          description: Information of the step execution
        stepId:
          description: Unique identifier of the step execution
          example: 123ce62d-892c-4e54-a8c3-3b6f52f0d915
          nullable: true
          type: string
        updatedBy:
          allOf:
          - $ref: '#/components/schemas/ReportDetailUser'
          description: Information of the user who last updated the step execution
        updatedDate:
          description: Last updated date of the step execution
          example: '2021-06-24T15:04:28.402000+00:00'
          format: date-time
          nullable: true
          type: string
      type: object
    V2ReportBasicDetail:
      properties:
        id:
          description: Unique report ID
          example: 5c40e755-3ab0-4fa9-9a44-f76a95f0e87d
          type: string
        caseId:
          description: Case ID (displays in UI)
          example: 100000
          type: string
        assessmentId:
          description: Assessment ID (displays in UI)
          example: 100000-2
          type: string
        status:
          description: Report Status (New, Assessment Cancelled, ...)
          example: New
          type: string
        reason:
          description: Assessment Reasons (optional - depending on the configuration in each standard)
          example: Annual Audit
          nullable: true
          type: string
        workflowName:
          description: Selected Workflow for the assessment report
          example: Factory Information
          type: string
        executionLocations:
          description: Execution Location (optional - depending on the configuration in each standard)
          example: '[Desktop Review]'
          items:
            type: string
          type: array
        updatedDate:
          description: System updated date. This field will be updated based on the changes in the Report and CAPA.
          example: '2024-09-30T10:36:56.057000+00:00'
          format: date-time
          type: string
        type:
          description: Assessment type
          example: Verification Assessment
          enum:
          - Verification Assessment
          - Self Assessment
          type: string
        announcementType:
          description: Announcement type
          example: Announced
          enum:
          - Announced
          - Semi-Announced
          - Private
          - Unannounced
          type: string
        assessmentStatus:
          description: Assessment Status (New, Aborted, Submitted ...)
          example: Aborted
          type: string
        assessmentWindowStart:
          description: Start date of the Assessment Window
          example: '2024-09-30T10:36:56.057000+00:00'
          format: date-time
          nullable: true
          type: string
        assessmentWindowEnd:
          description: End date of the Assessment Window
          example: '2024-09-30T10:36:56.057000+00:00'
          format: date-time
          nullable: true
          type: string
        assessmentDueDate:
          description: Due date of the assessment
          example: '2024-09-30T10:36:56.057000+00:00'
          format: date-time
          nullable: true
          type: string
        assessmentRequestDate:
          description: Request date of the assessment
          example: '2024-09-30T10:36:56.057000+00:00'
          format: date-time
          type: string
        assessmentSubmitDate:
          description: Assessment Submitted date. This is also Report Generated date.
          example: '2024-09-30T10:36:56.057000+00:00'
          format: date-time
          nullable: true
          type: string
        auditStartDate:
          description: Actual Audit Start date (This field has value only when the configuration is enabled in the standard)
          example: '2024-09-30T10:36:56.057000+00:00'
          format: date-time
          nullable: true
          type: string
        auditEndDate:
          description: Actual Audit End date (This field has value only when the configuration is enabled in the standard)
          example: '2024-09-30T10:36:56.057000+00:00'
          format: date-time
          nullable: true
          type: string
        auditTimeSpent:
          description: The time spent by Auditor (This field has value only when the configuration is enabled in the standard)
          example: 12
          nullable: true
          type: integer
        auditors:
          description: Auditors of the Assessment
          items:
            $ref: '#/components/schemas/V2ReportAuditor'
          type: array
        assignedUsers:
          description: Information of the assigned user
          items:
            $ref: '#/components/schemas/V2ReportDetailUser'
          type: array
        assignedRoles:
          description: Information of the assigned roles
          items:
            $ref: '#/components/schemas/V2ReportAssignedRole'
          type: array
        assessmentStartDate:
          description: The start date of the Assessment
          example: '2024-09-30T10:36:56.057000+00:00'
          format: date-time
          nullable: true
          type: string
        completeCaseDate:
          description: The date the case was completed
          example: '2024-09-30T10:36:56.057000+00:00'
          format: date-time
          nullable: true
          type: string
        reopenCaseDate:
          description: The date the case was reopen
          example: '2024-09-30T10:36:56.057000+00:00'
          format: date-time
          nullable: true
          type: string
        reportGenerateDate:
          description: The date the report was generated
          example: '2024-09-30T10:36:56.057000+00:00'
          format: date-time
          type: string
        caseExpirationDate:
          description: Expiration date of the Case
          example: '2024-09-30T10:36:56.057000+00:00'
          format: date-time
          nullable: true
          type: string
        confidentialNotes:
          description: Confidential notes
          items:
            $ref: '#/components/schemas/ReportDetailAssessmentExecutionConfidentialNote'
          type: array
        customFields:
          description: Client's specific attributes
          nullable: true
          type: object
        standard:
          description: The Standard used for the Report
          allOf:
          - $ref: '#/components/schemas/NameVersion'
        stakeholders:
          description: Stakeholders information
          properties:
            requester:
              description: The organization who requested the assessment
              allOf:
              - $ref: '#/components/schemas/IdNameTypeOrgId'
              - properties:
                  contactPersons:
                    description: Requester contact persons
                    items:
                      $ref: '#/components/schemas/ContactPerson'
                    type: array
              type: object
            executors:
              description: The organization who executed the assessment
              items:
                allOf:
                - $ref: '#/components/schemas/Executor'
              type: array
            requestee:
              description: The organization who is the target of the assessment
              allOf:
              - $ref: '#/components/schemas/IdNameTypeOrgId'
              - $ref: '#/components/schemas/OrgLocationAddress'
              - properties:
                  contactPersons:
                    description: Requester contact persons
                    items:
                      $ref: '#/components/schemas/ContactPerson'
                    type: array
              type: object
            selectedPartners:
              description: The supplier who associated with the requestee (only contains value if the standard setting - Assessment setting select "Requestee and partners")
              items:
                allOf:
                - $ref: '#/components/schemas/IdNameTypeOrgId'
                - properties:
                    contactPersons:
                      description: Requester contact persons
                      items:
                        $ref: '#/components/schemas/ContactPerson'
                      type: array
                    address:
                      description: Address
                      example: 123 Main Street
                      nullable: true
                      type: string
                    country:
                      description: Country
                      example: US
                      nullable: true
                      type: string
              type: array
          type: object
        totalFindings:
          description: List of findings. Only contains value if the report is issue-based.
          items:
            $ref: '#/components/schemas/V2ReportDetailFindings'
          type: array
        rating:
          description: Rating of the report. Calculated based on the rule setting of the standard and the score/issues found in the assessment.
          example: Good
          nullable: true
          type: string
        score:
          description: Score of the Report. Calculated based on the number of issue found or the selected answers in the assessment.
          example: 8/10
          nullable: true
          type: string
        scoreInPercentage:
          description: Score of the Report in percentage. Calculated based on the number of issue found or the selected answers in the assessment compare to the maximum score.
          example: 80%
          nullable: true
          type: string
        numberOfAreaToImproves:
          description: The total count of area to improves after the assessment is completed.
          example: 12
          type: integer
        reportLabels:
          description: Labels of the report
          items:
            $ref: '#/components/schemas/V2ReportLabel'
          type: array
        escalations:
          description: List of escalations of the assessment
          items:
            $ref: '#/components/schemas/V2ReportEscalation'
          type: array
      type: object
