openapi: 3.2.0
info:
  title: Inspectorio AUTH API
  version: v1
  description: 'Operations tagged AUTH across 2 of this provider''s published API definitions: inspectorio-qrm-openapi.json, inspectorio-rsc-openapi.json. Each path carries the servers of the definition it was published in.'
servers:
- description: Production Environment
  url: https://sight.inspectorio.com
- description: Pre-Production Environment
  url: https://sight.pre.inspectorio.com
- description: Production Environment
  url: https://rise-integration.inspectorio.com
- description: Pre-Production Environment
  url: https://rise-integration.pre.inspectorio.com
security:
- ApiKeyAuth: []
tags:
- name: Auth
paths:
  /api/v1/auth/login:
    post:
      deprecated: true
      summary: Login and Retrieve Access Token
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoginForm'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomResponse3'
          description: OK
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestApiError'
          description: Bad request
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthenticatedApiError'
          description: Unauthorized
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidateApiError'
          description: Validation Error
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyResponsesApiError'
          description: Rate-limiting Error
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalApiError'
          description: Internal Error
      security: []
      tags:
      - Auth
      operationId: postApiV1AuthLogin
      x-operation-id-source: derived
    servers:
    - description: Production Environment
      url: https://sight.inspectorio.com
    - description: Pre-Production Environment
      url: https://sight.pre.inspectorio.com
components:
  schemas:
    UnauthenticatedApiError:
      properties:
        errorCode:
          example: Generic
          type: string
        message:
          example: Cannot retrieve session data because of expired token
          type: string
      type: object
    CustomResponse3:
      properties:
        data:
          $ref: '#/components/schemas/AuthResponse'
      type: object
    ValidateApiError:
      properties:
        errorCode:
          example: Generic
          type: string
        errors:
          example:
            type:
            - Input type is not valid
          type: object
        message:
          example: Validation error
          type: string
      type: object
    BadRequestApiError:
      properties:
        errorCode:
          example: Generic
          type: string
        message:
          example: Bad Request
          type: string
      type: object
    LoginForm:
      properties:
        password:
          minLength: 1
          type: string
        username:
          minLength: 1
          type: string
      required:
      - password
      - username
      type: object
    AuthResponse:
      properties:
        avatarUrl:
          description: Link of user's avatar
          example: https://developers.inspectorio.com/img/user.png
          format: url
          type: string
        orgName:
          description: Name of the organization that the user belongs to
          example: Acme Corp
          type: string
        refreshToken:
          description: Refresh token used for subsequent API requests
          example: eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1N123...xyz
          type: string
        token:
          description: Token used for authentication in API requests
          example: eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1N123...abc
          type: string
        username:
          description: Name of the user
          example: John Doe
          type: string
      required:
      - refreshToken
      - token
      type: object
    InternalApiError:
      properties:
        errorCode:
          example: Generic
          type: string
        errors:
          example:
            system:
            - Internal error detail message
          type: object
        message:
          example: Internal server error
          type: string
      type: object
    TooManyResponsesApiError:
      properties:
        errorCode:
          example: Generic
          type: string
        message:
          example: Too many requests
          type: string
      type: object
    Login:
      properties:
        password:
          description: Password of the user used to retrieve access token, e.g. acme123
          example: acme123
          minLength: 1
          type: string
        username:
          description: Username of the user used to retrieve access token, e.g. john@acme.com
          example: john@acme.com
          minLength: 1
          type: string
      required:
      - password
      - username
      type: object
    AuthResponse_2:
      properties:
        orgName:
          description: Name of the organization the user belongs to
          example: Acme Corp
          type: string
        token:
          description: Authentication token used for every API request
          example: 8847eae8-9ef1-123-abc
          type: string
      required:
      - token
      type: object
    CustomResponse:
      properties:
        data:
          $ref: '#/components/schemas/AuthResponse_2'
      type: object
  securitySchemes:
    ApiKeyAuth:
      in: header
      name: apiKey
      type: apiKey
x-refined-from:
- inspectorio-qrm-openapi.json
- inspectorio-rsc-openapi.json
